.portfolio{
    padding: 0.5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;

}

.portfolio .swiper-pagination-bullet-active{
    background: black;
}
.portfolio span:nth-child(1){
    color: var(--black);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.portfolio span:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.portfolio .swiper{
    overflow: visible!important;

}
.porfolio-slider{
    margin-top: 3rem;
    width: 100%;
}
.portfolio-slider .swiper-slide{
    width: 20rem;

}
.portfolio img{
    width: 32rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
    border-radius: 19px;
}























